* {
  padding: 0;
  margin: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-950: #050505;
  --color-900: #3d3d3d;
  --color-800: #454545;
  --color-700: #4f4f4f;
  --color-600: #5d5d5d;
  --color-500: #6d6d6d;
  --color-400: #888888;
  --color-300: #b0b0b0;
  --color-200: #d1d1d1;
  --color-100: #e7e7e7;
  --color-50: #f6f6f6;

  background-color: var(--color-100);
}

.page-wrapper {
  width: 80%;
  margin: 0 auto;
}


